[submodule "3rdparty/dgsparse"]
	path = 3rdparty/dgsparse
	url = https://github.com/dgSPARSE/dgSPARSE-Library.git
[submodule "3rdparty/glog"]
	path = 3rdparty/glog
	url = https://github.com/google/glog.git
[submodule "3rdparty/cnpy"]
	path = 3rdparty/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "3rdparty/triton"]
	path = 3rdparty/triton
	url = https://github.com/MasterJH5574/triton.git
[submodule "3rdparty/taco"]
	path = 3rdparty/taco
	url = https://github.com/MasterJH5574/taco.git
[submodule "3rdparty/sputnik"]
	path = 3rdparty/sputnik
	url = git@github.com:yzh119/sputnik.git
[submodule "3rdparty/torchsparse"]
	path = 3rdparty/torchsparse
	url = git@github.com:yzh119/torchsparse.git
